body{
    font-family: 'Poppins', sans-serif;
    margin:0;
    background:#f4f6f9;
}

header{
    background:#0a3d62;
    color:white;
    text-align:center;
    padding:30px;
}

section{
    padding:40px;
    text-align:center;
}

.loan-calculator input,
.application input{
    padding:10px;
    margin:10px;
    width:250px;
}

button{
    padding:10px 20px;
    background:#0a3d62;
    color:white;
    border:none;
    cursor:pointer;
}

button:hover{
    background:#3c6382;
}

.gcash img{
    margin-top:20px;
}

footer{
    background:#0a3d62;
    color:white;
    text-align:center;
    padding:20px;
}
